body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

/* Navbar */

.header {
  border-bottom: 1px solid black;
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
}

.choice {
  width: fit-content;
  margin-left: auto;
}

.header h1 {
  font-size: 3vh;
  font-weight: 100;
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  height: 80%;
  margin-left: 12px;
}

.pfp {
  margin-left: auto;
  margin-right: 3vw;
  height: 5vh;
  width: 5vh;
  padding: 1vh;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.863);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.pfp:hover {
  background-color: rgba(0, 0, 0, 0.2);
  filter: brightness(80%);
}

.pfp:active {
  box-shadow: 0 0;
  translate: 2px 2px;
}

#cardInfo {
  background-color: white;
  z-index: 2;
  display: flex;
  margin-left: 3vw;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 12vh;
  right: 3vw;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  transition: 0.5s;
}

#cardInfo.show {
  max-height: 150px;
  border: 1px solid black;
}

#cardInfo.hide {
  max-height: 0;
  border: none;
  overflow: hidden;
  outline: none;
}

#cardInfo img {
  width: 20%;
  margin-left: 12px;
  padding-right: 12px;
  transition: 0.6s;
}

#cardInfo img.show {
  max-width: 20%;
}

#cardInfo img.hide {
  max-width: 0;
  overflow: hidden;
}

#nameLogOut {
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-items: end;
  height: 100px;
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1vw;
  border-left: 1px solid black;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

#nameLogOut.hide {
  max-height: 0;
  overflow: hidden;
}

#nameLogOut.show {
  max-height: 100px;
}

.nameInfo {
  text-align: left;
  width: 100%;
  font-size: 20px;
  font-weight: 500 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout {
  background-color: #70B740;
  font-size: 15px !important;
  padding-top: 1vh;
  padding-bottom: 1.4vh;
  width: 90px !important;
  height: fit-content;
  text-align: center;
  border-radius: 3vw;
  translate: 0 -1px;
  box-shadow: 2px 2px 2px black;
}

.logout:hover {
  cursor: pointer;
  background-color: #00ff00;
}

.logout:active {
  box-shadow: 0 0;
  translate: 2px 2px;
}